:root {
    --light: #EEE5FB;
    --dark: #110622;
    --deepPurple: #0E021C;
    --darkPurple: #200446;
    --medPurple: #310769;
    --lightPurple: #43098F;
    --lightestPurple: #AA84DD;
    --grey: #19181B;
    --lightGrey: #AAA5B1;
    --pastelPurple: #E0CFF6;
}

html {
    background: rgb(38,38,38);
    background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
}

header, footer { 
  background: var(--dark);
}

footer li a {
  color: var(--lightGrey);
}

/* body {
    color:azure;
} */

  .container2 {
    perspective: 1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box2 {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--dark);
    color: white;
    font-size: 150px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  @keyframes rotate {
    from {
      transform: rotate3d(1, 1, 0, 0deg);
    }
    to {
      transform: rotate3d(1, 1, 0, 360deg);
    }
  }

  .card {
    border-color: #AA84DD;
  }

  #events {
    background-color: var(--dark);
  }

  #about {
    background-color: var(--pastelPurple);
  }

  #about-container {
    border-radius: 15px;
    background-color: var(--dark);
    color:var(--light);
    padding: 10px;
  }

  .responsive-img {
    height:15%;
    display:inline;
    position:right;
  }

  .card img:hover {
    opacity:0.80;
  }

  button {
    background-color: #200446;
    color:#E0CFF6;
  }

  i {
    color: var(--lightestPurple);
  }